
        /* .red{
            background: rgb(12, 231, 78);
            color:rgb(255, 81, 0);
        } */
        .green,.red{
            color: pink;
            background: green;
        }
